.productImage img{
    width: 160px;
    height: 160px;
}

.ProductRating{
    background-color: lightblue;
    margin: 8px;
    padding: 5px;
}

.productImage{
    text-align: center;
}

.productCard{
    border: 1px solid rgb(166, 179, 164);
    width: 320px;
    height: 400px;
    margin: 20px;
    padding: 15px;
    border-radius: 9px;
}

.productCard p{
    font-size: 12px;
}

.ratingList li{
    list-style: none;
    font-size: 14px;
}